
#Personagens{
        background: var(--white);
        height: auto; 
        width: 100%;
        display: block ;
        justify-content: center;
        text-align: center;
}

.title{
    margin-top: 10%;
    font-size: 2rem;
    font-weight: 600;
}

.lista_personagem {
    margin-top: 2rem;
    margin-left: 5%;
    margin-inline-end: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    list-style: none; 
    padding: 0;
}

.lista_personagem li {
    text-align: center;
    max-width: 200px;
}

.lista_personagem img {
    border-radius: 10%;
    width: 170px;
    height: 170px;
}

.modal-content {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(240, 240, 240);
    border: 1px solid #ccc;
    padding: 20px;
}

.modal-header {
    border: 1px solid #ccc;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal img{
    border-radius: 10%;
    width: 200px;
    height: 200px;
}

.modal-title {
    font-family: Roboto, sans-serif;
    color: #333333;
}

.close-button {
    font-size: 24px;
    color: #333333;
}

.modal-body {
    text-align: center;
    padding: 10px 20px;
    font-family: Roboto, sans-serif;
    color: #333333;
    border: 1px solid #ccc;
}

p {
    margin: 10px 0;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
    font-family: Roboto, sans-serif;
    color: #fff;
    width: 100px;
    height: 40px;
}

.btn-secondary:hover {
    background-color: #495057;
}

.modal {
    transition: opacity 0.3s ease;
    border-radius: 5%;
    display: none;
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 9999; 
}

#class_personagem{
    font-size: 24px;
}
